<% if current_user %>
  <h1>My Groups</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th># of Members</th>
        <th>Pending Activites</th>
        <th>Activities Completed</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <th><%= link_to group.title, group_path(group) %></th>
          <th><%= group.memberships.count %></th>
          <th><%= group.group_activities.where(completed_at: nil).count %></th>
          <th><%= group.group_activities.where.not(completed_at: nil).count %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<h1>Home Page</h1>
<% end %>
